body {
    background-color: rgb(25, 27, 30);
    color: white;
    font-family: Arial;
}
.title {
    font-size: 30px;
    font-weight: bold;
}
.move-icon {
    height: 50px;
}
.move-button {
    background-color: transparent;
    border: 2px solid white;
    width: 100px;
    height: 100px;
    border-radius: 60px;
    margin-right: 10px;
    cursor: pointer;
}
.result {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}
.moves {
    font-size: 18px;
}
.score {
    margin-top: 40px;
}
.reset-score-button, .auto-play-button {
    background-color: white;
    border: none;
    border-radius: 90px;
    font-size: 18px;
    padding: 8px 15px;
    cursor: pointer;
}
.move-icon-result {
    height: 30px;
}